<div class="comments-container">
  <% comments.each do |comment| %>
    <% next if comment.id.nil? %>
    
    <div class="comment">
      <%= image_tag current_user.profile_picture, size: '30x30', class: 'user-profile-image' %>
      <div class="comment-body">
        <p class="comment-user-name"><%= comment.user.name %></p>
        <p class="comment-text"><%= comment.body %></p>
      </div>
    </div>
  <% end %>
</div>