<div class="comments-container">
  <% comments.each do |comment| %>
    <% next if comment.id.nil? %>
    
    <div class="comment">
      <%= image_tag current_user.profile_picture.variant(resize_to_limit: [200, 200]), class: 'user-profile-image-small comment-user-image' %>
      
      <div class="comment-body">
        <%= link_to comment.user do %>
          <p class="comment-user-name"><%= comment.user.name %></p>
        <% end %>
        
        <p class="comment-text"><%= comment.body %></p>
      </div>
    </div>
  <% end %>
</div>