<%= render 'shared/nav_bar' %>

<div class="grid-two-columns">
  <%= render 'shared/sidebar' %>

  <div class="friends-container">
    <p class="container-title">Friends</p>
    <% if @friends.empty? %>
      <p class="no-friends">
        No friends to show
      </p>
    <% else %>
      <% @friends.each do |friend| %>
        <%= render partial: 'user_card', locals: { user: friend } %>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'toggle_sidebar' %>