<div class="post-form-container">
  <h3 class="post-form-title">Create Post</h3>
  <div class="post-form-separator"></div>

  <%= form_with model: post do |f| %>
    <p class="user-info"><%= current_user.name %></p>
    <div class="post-text">
      <%= f.text_field :body, placeholder: true, autofocus: true, class: 'post-test-field' %>
    </div>

    <%= f.submit 'Post', class: 'post-form-button' %>
  <% end %>
</div>