<%= render partial: 'shared/nav_bar' %>

<%= render partial: 'post_form', locals: {post: @post} %>

<div class="posts-container">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>