<%= render partial: 'shared/nav_bar' %>

<div class="grid-two-columns">
  <%= render 'shared/sidebar' %>
  <%= render partial: 'posts', locals: { posts: @posts } %>
</div>

<%= javascript_pack_tag 'toggle_sidebar' %>