<%= render partial: 'shared/nav_bar' %>

<div class="grid-two-columns">
  <%= render 'shared/sidebar' %>
  <%= render partial: 'post_form', locals: { post: @post } %>
</div>

<%= javascript_pack_tag 'toggle_sidebar' %>