$primary-color: #42b72a;
$secondary-color: #1877f2;
$primary-color-dark: #22970a;
$secondary-color-dark: #0867e2;
$primary-color-light: #dcf3d7;
$secondary-color-light: #f0f2f5;
$black-color: #050505;
$gray-color: #65676B;
$box-shadow-color: #c2dabc;
$dark-hover-color: #d1e6cd;