// Place all the styles related to the friend_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

.friend-requests-container {
  grid-column: 2 / 3;
  margin: 1rem auto;
  width: 50rem;
}

.received-friend-requests {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.sent-friend-requests {
  margin-top: 1rem;
  border-radius: .5rem;
}

.friend-requests-toggle {
  color: $black-color;
  text-decoration: underline;
  margin-bottom: .5rem;
  cursor: pointer;
}

.friend-requests-toggle:active {
  color: blue;
}

.friend-requests-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.friend-request-container {
  width: 13.5rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  grid-column: 2 / 4;
  margin: .5rem;
  border-radius: .5rem;
  box-shadow: -1px -1px 3px 1px $box-shadow-color,
              1px 1px 3px 1px $box-shadow-color
}

.friend-request-image {
  width: 13.5rem;
  height: 13.5rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.friend-request-info {
  padding: .75rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background-color: #FFF;
}

.friend-request-name {
  color: $black-color;
}

.friend-request-link {
  text-align: center;
  padding: .5rem;
  border-radius: .5rem;
  margin: .5rem auto 0;
  display: block;
  height: 2.25rem;
}

@media screen and (max-width: 64rem) {
  .friend-requests-container {
    width: 90%;
  }
}

@media screen and (max-width: 43.75rem) {
  .friend-requests-container {
    grid-column: 1 / 2;
  }
}