@import 'variables';

.grid-two-columns {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.green-bg {
  color: white;
  background-color: $primary-color;
}

.light-green-bg {
  background-color: $primary-color-light;
  color: $black-color;
}

.hidden {
  display: none;
}

.visible {
  display: block !important;
}

.material-icons {
  vertical-align: middle;
}

.active {
  background-color: $primary-color;
  color: #fff;
}

.container-title {
  background-color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: .5rem;
}

.container-titles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  border-radius: .5rem;
}

.align-center {
  align-self: center;
}

.user-profile-image-small {
  width: 1.875rem;
  height: 1.875rem;
  display: block;
  border-radius: 50%;
  align-self: center;
}

.main-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.tab-button {
  text-align: center;
  padding: .75rem;
  cursor: pointer;
  border-radius: .5rem;
}

@media screen and (max-width: 43.75rem) {
  .grid-two-columns {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 32rem) {
  .tab-button {
    border-radius: 0;
  }
}

@media screen and (max-width: 27.25rem) {
  .grid-two-columns {
    margin-top: 3rem;
  }
}