@import 'variables';

.main-nav {
  background-color: #FFF;
  display: flex;
  height: 4rem;
  justify-content: space-around;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo-container {
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: 600;
  margin: auto;
  padding-left: 1.2rem;
  width: 25%;
}

.menu-button {
  margin: auto;
}

.menu-buttons {
  padding: .5rem;
  display: flex;
  width: 50%; 
}

.user-buttons {
  display: flex;
  padding: .5rem;
  width: 25%;
}

.user-button {
  margin: auto;
}

.material-icons.nav-icon {
  color: $primary-color-dark;
  font-size: 1.75rem;
}

.logout {
  color: red;
}

.material-icons.logout {
  color: red;
  font-weight: 600;
}