@import 'variables';

.main-nav {
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(240,240,240,0.67);
     -moz-box-shadow: 0px 0px 10px 4px rgba(240,240,240,0.67);
          box-shadow: 0px 0px 10px 4px rgba(240,240,240,0.67);
  display: flex;
  height: 4rem;
  justify-content: space-around;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-container {
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: 600;
  margin: auto;
  padding-left: 1.2rem;
  width: 25%;
}

.menu-button {
  margin: auto;
}

.menu-buttons {
  padding: .5rem;
  display: flex;
  width: 50%; 
}

.user-buttons {
  display: flex;
  padding: .5rem;
  width: 25%;
}

.user-button {
  margin: auto;
}