// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'variables';

.posts-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  margin: 1rem auto 0;
}

.sidebar {
  grid-column: 1 / 2;
  position: fixed;
  left: 0;
  top: 4rem;
  width: 25vw;
}

.sidebar-child {
  width: 18rem;
  height: 2.75rem;
  margin: 1rem;
}

.sidebar-child:active {
  background-color: $dark-hover-color;
}

.sidebar-child a {
  display: flex;
}

.sidebar-icon {
  align-self: center;
}

.sidebar-text {
  color: $black-color;
  font-weight: 500;
  width: fit-content;
  margin-left: 1rem;
  padding: .75rem 0;
}

@media screen and (max-width: 43.75rem) {
  .posts-container {
    grid-column: 1 / 2;
  }

  .sidebar {
    display: none;
    top: 3rem;
    left: 0;
    width: 100vw;    
    bottom: 0;
    background-color: white;
    z-index: 2;
  }
}