// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'variables';

.posts-sidebar-container {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.posts-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
}

.sidebar {
  grid-column: 1 / 2;
  position: fixed;
  left: 0;
  top: 6rem;
}

.sidebar-child {
  width: 18rem;
  height: 2.75rem;
  margin: 1rem auto;
}

.sidebar-text {
  color: $black-color;
  font-weight: 500;
  width: fit-content;
  margin: 0 1rem;
}