@import 'variables';

.single-post-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 6rem;
}

.post-with-comments {
  grid-column: 2 / 3;
  margin: auto;
}

.post-container {
  background-color: white;
  border-radius: 8px;
  font-family: "Segoe UI", sans-serif;
  width: 31.25rem; // 500px when root font size = 16px
  margin-bottom: 2rem;
  padding: 1rem 1rem .5rem;
}

.post-info {
  margin: .5rem auto;
}

.user-profile-image {
  display: block;
  border-radius: 50%;
  float: left;
  margin-right: .5rem;
  vertical-align: middle;
}

.post-user-name, .post-text {
  color: $black-color;
  font-size: 0.9375rem; // 15px when the root font size = 16px
}

.post-user-name {
  font-weight: 600;
}

.post-time {
  color: $gray-color;
  font-size: 0.8125rem; // 13px
  font-weight: 400;
}

.post-body {
  margin: .5rem auto 1rem;
}

.post-text {
  margin: .5rem auto;
}

.post-image img {
  width: 100%;
  max-height: 25rem;
  object-fit: cover;
}

.post-buttons {
  display: flex;
  margin-bottom: 0.5rem;
}

.material-icons {
  vertical-align: middle;
}

.comment-button {
  width: 50%;
  text-align: center;
}