// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

.search-container {
  grid-column: 2 / 3;
  margin: 1rem auto 2rem;
}

.search-form {
  position: relative;
  width: fit-content;
  margin: 0 auto 1rem;
}

.search-bar {
  color: $black-color;
  height: 3rem;
  width: 31.25rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  padding: 1rem;
}

.material-icons.search-icon {
  font-size: 28px;
  color: $primary-color;
}

.search-bar:focus {
  outline: none;
  border: none;
}

.search-button {
  border: none;
  background-color: #FFF;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  cursor: pointer;
}

.search-result-users {
  background-color: #FFF;
  box-shadow: -1px 0px 3px 1px $box-shadow-color;
  height: 100vh;
  position: fixed;
  top: 4rem;
  right: 0;
  bottom: 0;
  width: 25vw;
  overflow: scroll;
}