// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

.search-container {
  grid-column: 2 / 3;
  margin: 1rem auto 2rem;
}

.search-form {
  position: relative;
  width: fit-content;
  margin: 0 auto 1rem;
}

.search-bar {
  color: $black-color;
  height: 3rem;
  width: 31.25rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  padding: 1rem;
  box-shadow: 1px 1px 3px 1px $box-shadow-color,
              -1px -1px 3px 1px $box-shadow-color;
}

.material-icons.search-icon {
  font-size: 28px;
  color: $primary-color;
}

.search-bar:focus {
  outline: none;
  border: none;
}

.search-button {
  border: none;
  background-color: #FFF;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  cursor: pointer;
}

.search-result-container {
  margin-top: 2rem;
}

.search-result-users {
  background-color: #FFF;
  box-shadow: -1px 0px 3px 1px $box-shadow-color;
  padding: .5rem;
  border-radius: .5rem;
}

.tab-button {
  text-align: center;
  padding: .75rem;
  cursor: pointer;
  border-radius: .5rem;
}

.tab-button:hover {
  background-color: $primary-color-light;
  color: $black-color;
}

@media screen and (max-width: 43.75rem) {
  .search-container {
    grid-column: 1 / 2;
  }
}

@media screen and (max-width: 32rem) {
  .search-bar {
    width: 90vw;
  }

  .search-result-users {
    width: 100vw;
    border-radius: 0;
  }

  .tab-button {
    border-radius: 0;
  }
}