@import 'variables';

.user-page-container {
  margin-top: 4rem;
}

.gradient-container {
  background: linear-gradient(180deg, $primary-color-light, #FFF);
}

.user-display-images {
  position: relative;
  width: fit-content;
  margin: 0 auto 0;
}

.user-cover-image {
  width: 58.75rem;
  height: 21.75rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  object-fit: cover;
}

.user-profile-image {
  width: 10.5rem;
  height: 10.5rem;
  border: 4px solid #FFF;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.user-bio-and-images {
  background-color: #FFF;
  box-shadow: -1px 0 3px 1px $box-shadow-color;
}

.user-bio {
  margin: 0 auto;
  width: 58.75rem;
  padding-top: 1.5rem;
}

.user-name {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.user-links {
  border-top: 1px solid $box-shadow-color;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.user-special-link {
  text-align: center;
  padding: .5rem;
  border-radius: .5rem;
  display: block;
  height: 2.25rem;
  width: fit-content;
  margin: 0 1rem;
}

.user-posts-and-friends {
  margin: 0 auto 2rem;
  max-width: 31.25rem;
}

.user-friends {
  border-radius: 8px;
  background-color: #FFF;
  overflow-y: auto;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  height: fit-content;
  box-shadow: 1px 1px 3px 1px $box-shadow-color,
              -1px -1px 3px 1px $box-shadow-color;
}

.user-posts {
  overflow-y: auto;
}

@media screen and (max-width: 58.75rem) {
  .user-cover-image {
    width: 100vw;
    height: 40vw;
  }

  .user-bio {
    width: 100vw;
  }
}

@media screen and (max-width: 50rem) {
  .user-profile-image {
    width: 9rem;
    height: 9rem;
  }
}

@media screen and (max-width: 40rem) {

  .user-name {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 34.375rem) {
  .user-profile-image {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 27.25rem) {
  .user-page-container {
    margin-top: 3rem;
  }

  .user-cover-image {
    height: 50vw;
  }
}

@media screen and (max-width: 25rem) {
  .user-profile-image {
    width: 7.5rem;
    height: 7.5rem;
  }
}

@media screen and (max-width: 22.5rem) {
  .user-cover-image {
    height: 60vw;
  }
}